


#student_info, #forRL {
    text-align: center;
    background-color: #6a96c0;
}


.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #studentAddress,  #parents_info{
    background-color: #6a96c0;
  }


.row p{
    font-size: 15px;
    font-style: italic;
    text-indent: 40px;
}

.btn{
  margin: 50px;
}


